/* Common style code start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  font-family: "Bebas Neue", cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}

/* Common style code end */
/* header style code start */
header {
  background-image: url(../images/banner_main.jpg);
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .nav {
  padding: 5rem 5rem 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

header .menu {
  margin-bottom: 5rem;
  margin-top: -1rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .menu menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu menu li {
  margin-right: 3rem;
  font-size: 2rem;
}

header .menu menu li a:hover {
  border-bottom: 2px dashed #3d2514;
}

header .highlight {
  width: 90vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

header .highlight__text h3 {
  display: inline-block;
  font-size: 23px;
  border: 1px dashed black;
  margin-bottom: 0;
  padding: 1rem;
}

header .highlight__text h1 {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bolder;
}

header .highlight__text h2 {
  font-size: 50px;
  margin-top: 0;
}

/* header style code end */
/* category style code start */
.category {
  width: 90vw;
  margin: 5rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

.category__popular {
  background-image: url(../../images/category1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 420px;
}

.category__others {
  /* category style code start */
  /* category style code end */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
}

.category__others .category {
  width: 90vw;
  margin: 5rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
}

.category__others .category__popular {
  background-image: url(../../images/category1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 420px;
}

.category__others .category__popular h3,
.category__others .category__popular h1 {
  display: block;
  margin-left: 50px;
  font-size: 24px;
}

.category__others .category__others {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
}

.category__others .category__others-fun {
  background-image: url(../../images/category2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.category__others .category__others-chill {
  background-image: url(../../images/category3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.category__others-fun {
  background-image: url(../../images/category2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.category__others-chill {
  background-image: url(../../images/category3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* category style code end */
/* Choose Start */
.choose {
  width: 80vw;
  margin: 0 auto 5rem;
  padding: 3rem;
  -webkit-box-shadow: 0px 8px 20px 1px rgba(114, 113, 113, 0.5);
          box-shadow: 0px 8px 20px 1px rgba(114, 113, 113, 0.5);
  text-align: center;
}

.choose h3 {
  padding: 1rem;
  display: inline-block;
  background-color: #ffc125;
}

.choose h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bolder;
}

/* Choose End */
/* products style code start */
.products {
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.products__single {
  width: 25em;
  -webkit-box-shadow: 0px 8px 20px 1px rgba(114, 113, 113, 0.5);
          box-shadow: 0px 8px 20px 1px rgba(114, 113, 113, 0.5);
  padding: 1rem;
  border-radius: 3rem;
}

.products__single:hover {
  -webkit-box-shadow: 0px 16px 40px 2px rgba(114, 113, 113, 0.5);
          box-shadow: 0px 16px 40px 2px rgba(114, 113, 113, 0.5);
}

.products__single img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.products__single img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__single h1 {
  text-align: center;
}

.products__single p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/* products style code end */
/* events style code start */
.events {
  margin: 3rem;
}

.events .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-shadow: 0px 8px 20px 1px rgba(114, 113, 113, 0.5);
          box-shadow: 0px 8px 20px 1px rgba(114, 113, 113, 0.5);
}

.events .event__text {
  text-align: center;
  margin-right: 2rem;
}

.events .event__text h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

/* events style code end */
/* reservation style code start */
/* reservation style code end */
/* footer style code start */
.footer {
  width: 95vw;
  height: 60vh;
  margin: 0 auto;
  background-image: url(../../images/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  color: white;
}

.footer__text-info p {
  width: 50%;
}

.footer__text-contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text-contact p i {
  margin-right: 0.5rem;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__end .copy h4 {
  color: white;
}

.footer__end .copy .link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* footer style code end */
/*# sourceMappingURL=style.css.map */