/* Common style code start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Bebas Neue", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  padding: 1rem;
}
/* Common style code end */

