/* footer style code start */

.footer {
  width: 95vw;
  height: 60vh;
  margin: 0 auto;
  background-image: url(../images/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  &__text {
    display: flex;
    padding: 5rem;
    color: white;
    &-info {
      p {
        width: 50%;
      }
    }
    &-contact {
      &-icon {
        display: flex;
      }
      p {
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
  &__end {
    display: flex;
    justify-content: space-evenly;
    .copy {
      h4 {
        color: white;
      }
    }
    .link {
      display: flex !important;
    }
  }
}

/* footer style code end */
